<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="Common_AppIdAndAuth_Entities" connectionString="metadata=res://*/Common_AppIdAndAuth_Model.csdl|res://*/Common_AppIdAndAuth_Model.ssdl|res://*/Common_AppIdAndAuth_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC\SQLSERVER2012;initial catalog=Common_AppIdAndAuth;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>  
</configuration>